html {
  background-color: black;
}



.card {
  display: grid;
  grid-auto-flow: row;
  grid-row: repeat(9, 1fr);
  width: 180px;
  border: 1px solid grey;
  height: 100%;
}

.books, .add {
  align-items: center;
  height: 40px;
  width: 160px;
  margin: 10px;
  background-color: #FFA07A;
}

.new-buttonbox {
  height: 50px;
}

.table {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1fr 5fr;
  grid-row: repeat(10, 2fr);
}

.new-card {
  border: 1px solid gray;
  width: 150px;
  height: 170px;
  margin: 15px;
  align-items: center;
  background-color: #FFA07A;
}

.remove-button {
  background-color: #B0C4DE;
}

.change-read-button {
  background-color: #B0C4DE;
  width: 120px;
  height: 40px;
}

.new-cards {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  text-align: center;
}

.library {
  width: 120px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    white
  );
  opacity: 0.65;
}

#favDialog {
  border: 1px solid gray;
  background-color: #FFA07A;
}

form {
  border: 1px solid black;
}

output {
  border: 1px solid black;
}

