.card {
  display: grid;
  grid-auto-flow: row;
  grid-row: 1fr 3fr 2fr;
  width: 300px;
  border: 1px solid gray;
  height: 350px;
}

button {
  position: relative;
  align-items: center;
  left: 40px;
  top: 60%;
  height: 40px;
  width: 160px;
}

body {
  display: grid;
  grid-row: repeat(4, 1fr);
  grid-column: repeat(4, 1fr);
}