@font-face {
  font-family: 'Cantarell';
  src: url('/Fonts/Cantarell-Regular.woff2') format('woff2'),
  url('/Fonts/Cantarell-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/Fonts/Pacifico.woff2') format('woff2'),
  url('/Fonts/Pacifico.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html {
  background-color: black;
}



.card {
  display: grid;
  grid-auto-flow: row;
  grid-row: repeat(9, 1fr);
  width: 180px;
  border: 1px solid grey;
  height: 100%;
}

.books, .add {
  align-items: center;
  height: 40px;
  width: 160px;
  margin: 10px;
  background-color: #FFA07A;
  font-family: 'Cantarell', Arial, sans-serif;
  font-size: 18px;
  border-radius: 5%;
}

.new-buttonbox {
  height: 50px;
}

.table {
  display: grid;
  grid-auto-flow: column;
  grid-column: 1fr 5fr;
  grid-row: repeat(10, 2fr);
}

.new-card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 200px;
  height: 225px;
  margin: 15px;
  align-items: center;
  background-color: #FFA07A;
}

.remove-button {
  background-color: red;
  font-size: 14px;
  width: 90px;
  margin: 5px;
}

.change-read-button {
  background-color: #B0C4DE;
  width: 90px;
  height: 40px;
  font-size: 14px;
  margin: 5px;
}

.new-cards {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  text-align: center;
  font-family: 'Pacifico', Arial, sans-serif;
}

input {
  background-color: #778899;
}

input:focus {
  outline: none;
  padding: 0;
  background-color: #20B2AA;
}

.library {
  width: 120px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    white
  );
  opacity: 0.65;
}

#favDialog {
  border: 1px solid gray;
  background-color: #FFA07A;
}

form {
  border: 1px solid black;
}

output {
  border: 1px solid black;
}

